In [1]:
import pandas as pd

In [2]:
orders_df = pd.read_csv('data/orders.csv', sep=';')
print(orders_df.head())

         Дата создания  Order ID  ID Покупателя                    Статус  \
0  09.11.2019 21:55:51         9             10  Принят, ожидается оплата
1  09.11.2019 15:05:57         8              9  Принят, ожидается оплата
2  09.11.2019 15:05:57         8              9  Принят, ожидается оплата
3  09.11.2019 12:50:07         7              8  Принят, ожидается оплата
4  09.11.2019 12:00:00         6              1  Принят, ожидается оплата

  Оплачен Отменен Отгружен  ID товара  Количество
0     Нет     Нет      Нет        103           5
1     Нет     Нет      Нет         86         100
2     Нет     Нет      Нет        104          10
3     Нет     Нет      Нет        104           7
4     Нет     Нет      Нет        104           5

In [3]:
products_df=pd.read_csv('data/products.csv', sep=';')
print(products_df.head())

   Product_ID                      Name  Price CURRENCY
0          47      Шатны Полосатый рейс   2999      RUR
1          51  Платье Аленький цветочек   4999      RUR
2          53    Штаны Цветочная Поляна   4999      RUR
3          71       Платье Ночная Жизнь   7999      RUR
4          74  Платье Ночная Жизнь XXXL   8999      RUR

In [4]:
orders_products = orders_df.merge(products_df, how = 'left', left_on ='ID товара', right_on='Product_ID')
print(orders_products.head(10))
orders_products[orders_products['Name'].isna()]

         Дата создания  Order ID  ID Покупателя  \
0  09.11.2019 21:55:51         9             10
1  09.11.2019 15:05:57         8              9
2  09.11.2019 15:05:57         8              9
3  09.11.2019 12:50:07         7              8
4  09.11.2019 12:00:00         6              1
5  09.11.2019 12:00:00         6              1
6  08.11.2019 08:36:22         5              5
7  08.11.2019 08:36:22         4              9
8  08.11.2019 08:36:22         3              8
9  08.11.2019 08:36:22         3              8

                            Статус Оплачен Отменен Отгружен  ID товара  \
0         Принят, ожидается оплата     Нет     Нет      Нет        103
1         Принят, ожидается оплата     Нет     Нет      Нет         86
2         Принят, ожидается оплата     Нет     Нет      Нет        104
3         Принят, ожидается оплата     Нет     Нет      Нет        104
4         Принят, ожидается оплата     Нет     Нет      Нет        104
5         Принят, ожидается оплата     Нет     Нет      Нет        103
6                          Отменён     Нет      Да      Нет        124
7         Принят, ожидается оплата     Нет     Нет       Да         91
8  Оплачен, формируется к отправке      Да     Нет      Нет        103
9  Оплачен, формируется к отправке      Да     Нет      Нет        104

   Количество  Product_ID                   Name  Price CURRENCY
0           5       103.0  Носки Подарочные, муж  199.0      RUR
1         100        86.0     Носки Простые, муж   45.0      RUR
2          10       104.0  Носки Подарочные, жен  249.0      RUR
3           7       104.0  Носки Подарочные, жен  249.0      RUR
4           5       104.0  Носки Подарочные, жен  249.0      RUR
5           5       103.0  Носки Подарочные, муж  199.0      RUR
6           1       124.0   Носки беговые Camino  999.0      RUR
7           1        91.0     Носки Честные, муж   50.0      RUR
8           3       103.0  Носки Подарочные, муж  199.0      RUR
9           3       104.0  Носки Подарочные, жен  249.0      RUR

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

In [6]:
orders_products[orders_products['Отменен'] == 'Да']['Name']

6    Носки беговые Camino
Name: Name, dtype: object

In [13]:
orders_products['Summa'] = orders_products['Количество']*orders_products['Price']
mask = orders_products['Оплачен']=='Да'
orders_products[mask].groupby('ID Покупателя')['Summa'].sum()

ID Покупателя
1        0.0
5    13043.0
7    17096.0
8     1344.0
Name: Summa, dtype: float64

In [14]:
orders_products['Profit'] = orders_products['Price'] * orders_products['Количество'] 
orders_products[orders_products['Оплачен'] == 'Да'].groupby('ID Покупателя')['Profit'].sum().sort_values(ascending=False)

ID Покупателя
7    17096.0
5    13043.0
8     1344.0
1        0.0
Name: Profit, dtype: float64