In [1]:
import pandas as pd

In [2]:
cb_df = pd.read_csv('data/citibike-tripdata.csv')
print(cb_df.head())

                  starttime                  stoptime  start station id  \
0  2018-09-01 00:00:05.2690  2018-09-01 00:27:20.6340             252.0
1  2018-09-01 00:00:11.2810  2018-09-01 00:02:23.4810             314.0
2  2018-09-01 00:00:20.6490  2018-09-01 00:55:58.5470            3142.0
3  2018-09-01 00:00:21.7460  2018-09-01 00:07:38.5830             308.0
4  2018-09-01 00:00:27.3150  2018-09-01 02:21:25.3080             345.0

                start station name  start station latitude  \
0     MacDougal St & Washington Sq               40.732264
1  Cadman Plaza West & Montague St               40.693830
2                  1 Ave & E 62 St               40.761227
3          St James Pl & Oliver St               40.713079
4                  W 13 St & 6 Ave               40.736494

   start station longitude  end station id            end station name  \
0               -73.998522           366.0    Clinton Ave & Myrtle Ave
1               -73.990539          3242.0  Schermerhorn St & Court St
2               -73.960940          3384.0             Smith St & 3 St
3               -73.998512          3690.0         Park Pl & Church St
4               -73.997044           380.0            W 4 St & 7 Ave S

   end station latitude  end station longitude  bikeid    usertype  \
0             40.693261             -73.968896   25577  Subscriber
1             40.691029             -73.991834   34377  Subscriber
2             40.678724             -73.995991   30496  Subscriber
3             40.713342             -74.009355   28866  Subscriber
4             40.734011             -74.002939   20943    Customer

   birth year  gender
0        1980       1
1        1969       0
2        1975       1
3        1984       2
4        1994       1

In [3]:
print(cb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB
None

In [4]:
print(cb_df['start station id'].mode())

0    281.0
Name: start station id, dtype: float64

In [5]:
print(cb_df['bikeid'].mode())

0    33887
Name: bikeid, dtype: int64

In [6]:
cb_df['usertype'].value_counts(normalize=True)

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

In [7]:
cb_df['gender'].value_counts()

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [8]:
cb_df['start station id'].value_counts()

start station id
281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: count, Length: 759, dtype: int64

In [9]:
cb_df['end station id'].value_counts()

end station id
426.0     1963
514.0     1909
519.0     1850
2006.0    1828
497.0     1804
          ...
3183.0       3
3191.0       1
3187.0       1
3074.0       1
3192.0       1
Name: count, Length: 765, dtype: int64

In [10]:
cb_df['birth year'].describe()

count    300000.000000
mean       1979.364803
std          11.920796
min        1885.000000
25%        1969.000000
50%        1982.000000
75%        1989.000000
max        2002.000000
Name: birth year, dtype: float64

In [11]:
cb_df['start station name'].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [12]:
cb_df['end station name'].describe()

count                    299831
unique                      765
top       West St & Chambers St
freq                       1963
Name: end station name, dtype: object

In [13]:
cb_df = cb_df.drop(['start station id'], axis=1)
cb_df = cb_df.drop(['end station id'], axis =1)
cb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [14]:
cb_df['age'] = 2018-cb_df['birth year']
print(cb_df['age'])

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

In [15]:
cb_df = cb_df.drop(['birth year'],axis=1)

In [16]:
cb_df[cb_df['age']>60].shape[0]

11837

In [17]:

cb_df['starttime'] = pd.to_datetime(cb_df['starttime'])
cb_df['stoptime'] = pd.to_datetime(cb_df['stoptime'])
cb_df['trip duration'] = (cb_df['stoptime']-cb_df['starttime'])
cb_df.loc[3, 'trip duration']
#print (cb_df['trip duration'])

Timedelta('0 days 00:07:16.837000')

In [21]:
week = cb_df['starttime'].dt.dayofweek
cb_df['weekend'] = week.apply(lambda x: 1 if x==5 or x==6 else 0)
cb_df['weekend'].value_counts()
#print(cb_df['weekend'])

weekend
0    184865
1    115135
Name: count, dtype: int64

In [ ]:
weekday = data['starttime'].dt.dayofweek
data['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
data['weekend'].sum()

In [22]:
def time_start (starttime):
    if starttime >=0 and starttime <= 6:
        return 'night'
    elif starttime >6 and starttime <= 12:
        return 'morning'
    elif starttime >12 and starttime <=18:
        return 'day'
    elif starttime >18 and starttime <=23:
        return 'evening'

cb_df['time_of_day'] = cb_df['starttime'].dt.hour.apply(time_start)
day_count = cb_df[cb_df['time_of_day']=='day'].shape[0]
night_count = cb_df[cb_df['time_of_day']=='night'].shape[0]
result = round(day_count/night_count)
print(result)

9