In [1]:
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b, a == c, a is b, a is c)

True True True False

In [7]:
one = [1, "2", 3, "4"]
two = ("a", "b", "c", "d")
three = one + two

TypeError: can only concatenate list (not "tuple") to list

In [11]:
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some",
            "password": "some"
        },
        "name": "2491Oaaf1414"
    }
}
config.get('login', 0)

0

In [12]:
# Функция чтения данных
def read_data():
    data = open('data/war_peace_processed.txt', 'rt', encoding='utf-8').read()
    data = data.split('\n')
    return data


# Функция подсчёта частоты употребления слова в тексте
def freq(target_word):  
    new_dict = dict() 
    for i in data: # СТРОКА С ОШИБКОЙ
        if i not in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] = new_dict.get(i) + 1
    return new_dict.get(target_word, 0)


# Вызов функций
read_data()
freq('война')

NameError: name 'data' is not defined

In [71]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}
def apply_discounts(products, stocks):
    new_dict = {}
    for goods, sale in stocks.items():
        percent = sale[:-1]
        stocks[goods] = int(percent)
    for product, price in products.items():
        if product in stocks.keys():
            share = stocks[product]
            sale = price*(share/100)
            new_price = price-sale
            new_dict[product]=round(new_price,2)
        else:
            new_dict[product]=price
    return new_dict
print(apply_discounts(products, stocks))

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [7]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}
def apply_discounts(products, stocks):
    new_dict = {}
    for product, price in products.items():
        if product in stocks.keys():
            sale = stocks[product][:-1]
            new_price = price-(price*(int(sale)/100))
            new_dict[product]=round(new_price,2)
        else:
            new_dict[product]=price
    return new_dict
print(apply_discounts(products, stocks))

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [45]:
import pandas as pd
solar_data = pd.read_csv('data/solarpower.csv')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [73]:
for index, value in enumerate(solar_data['cum_power']):
    if value == -1:
        vakue = (value[index-1]+value[index+1])/2
print(solar_data.head())

TypeError: 'float' object is not subscriptable