In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import category_encoders as ce
import logging
from importlib import reload
from sklearn import datasets
import statsmodels.api as sm
import scipy.stats as stats
from statsmodels.stats.anova import AnovaRM
from statsmodels.stats.descriptivestats import sign_test
from statsmodels.stats.contingency_tables import mcnemar
from scipy import stats
from statsmodels import stats as sms
from sklearn import preprocessing
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statistics
from sklearn.metrics import matthews_corrcoef

In [4]:
data = pd.read_csv('data/new-site.csv', sep = '\t')

In [7]:
data.head()

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38

In [8]:
data.groupby('site')['dwell-time'].sum()

site
0    16898
1    10032
Name: dwell-time, dtype: int64

In [9]:
data.groupby('site')['dwell-time'].mean()

site
0    90.849462
1    88.000000
Name: dwell-time, dtype: float64

In [17]:
data0 = data.loc[data['site']==0, 'dwell-time']
data0

0        2
2       15
4       38
6      571
8      233
      ...
294     39
295     22
296      7
298     89
299    138
Name: dwell-time, Length: 186, dtype: int64

In [18]:
data1 = data.loc[data['site']==1, 'dwell-time']
data1

1       48
3       16
5      169
7       38
10     336
      ...
281    187
282     11
283     70
291    100
297    144
Name: dwell-time, Length: 114, dtype: int64

In [21]:
alpha = 0.05
_, p = stats.shapiro(data0)
print('p-value = %.3f'%(p))
if p <= alpha:
    print('распределение ненормальное')
else:
    print('распределение нормальное')

p-value = 0.000
распределение ненормальное

In [22]:
alpha = 0.05
_, p = stats.shapiro(data1)
print('p-value = %.3f'%(p))
if p <= alpha:
    print('распределение ненормальное')
else:
    print('распределение нормальное')

p-value = 0.000
распределение ненормальное

In [23]:
alpha = 0.05
_, p = stats.mannwhitneyu(data0, data1, alternative='less')
print('p-value = {:.3f}'.format(p))
if p <= alpha:
    print('p-значение меньше, чем заданный уровень значимости {:.2f}. Отвергаем нулевую гипотезу в пользу альтернативной.'.format(alpha))
else:
    print('p-значение больше, чем заданный уровень значимости {:.2f}. У нас нет оснований отвергнуть нулевую гипотезу.'.format(alpha))

p-value = 0.448
p-значение больше, чем заданный уровень значимости 0.05. У нас нет оснований отвергнуть нулевую гипотезу.

In [24]:
alpha = 0.05
_, p = stats.mannwhitneyu(data0, data1)
print('p-value = {:.3f}'.format(p))
if p <= alpha:
    print('p-значение меньше, чем заданный уровень значимости {:.2f}. Отвергаем нулевую гипотезу в пользу альтернативной.'.format(alpha))
else:
    print('p-значение больше, чем заданный уровень значимости {:.2f}. У нас нет оснований отвергнуть нулевую гипотезу.'.format(alpha))

p-value = 0.896
p-значение больше, чем заданный уровень значимости 0.05. У нас нет оснований отвергнуть нулевую гипотезу.